{{#is "paged"}}
    <div class="extra-pagination inner">
        {{pagination}}
    </div>
{{/is}}

{{#foreach posts}}
    <article class="{{post_class}} loop-post">
        <header class="post-header">
            {{#if image}}
                <a class="img" href="{{url}}" style="background-image: url('{{image}}');">
                    <img src="{{image}}">
                </a>
            {{/if}}
            <h1><a href="{{url}}">{{{title}}}</a></h1>
            <p class="meta">
                Dated <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMMM YYYY"}}</time>
                {{tags prefix=" on "}}
                &bull; by {{author}}
            </p>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&rsaquo;</a></p>
        </section>
    </article>
{{/foreach}}

{{pagination}}