<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "styles/css/main.css"}}" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans:300,500,300italic,500italic">

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header class="site-header">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="blog-logo" href="{{@blog.url}}" style="background-image: url({{@blog.logo}});">
                    <img src="{{@blog.logo}}" alt="Blog Logo" />
                </a>
            {{else}}
                <a href="{{@blog.url}}" class="blog-link">&lsaquo; Home</a>
            {{/if}}
        {{/is}}
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="site-footer clearfix">
        <div class="wrapper clearfix">
            <div class="left">
                <small class="copyright"><a href="{{@blog.url}}"> &copy; {{date format="YYYY"}} {{@blog.title}}</a></small>
                <br>
                <span class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> with the <a href="https://github.com/PaulAdamDavis/Mono">Mono</a> theme</span>
            </div>
            <div class="right">
                &nbsp;
                <br>
                <a href="{{@blog.url}}/rss/">RSS Feed</a>
            </div>
        </div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
