{{!< default}}

{{#post}}

    {{#if image}}
        <div class="post-image" style="background-image: url('{{image}}');">
            <img src="{{image}}" alt="">
        </div>
    {{/if}}

    <article class="{{post_class}} single-post" role="main">
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <p class="meta">
                Dated <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMMM YYYY"}}</time>
                {{tags prefix=" on "}}
                &bull; by {{author}}
            </p>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            {{#author}}
                {{#if image}}
                    <figure class="author-image">
                        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                    </figure>
                {{/if}}
                <section class="author">
                    <h4><a href="{{url}}">{{name}}</a></h4>
                    <p class="author-meta">
                        {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                        {{#if website}}<span class="author-link icon-link"><a href="{{website}}" class="js-remove-domain-schema">{{website}}</a></span>{{/if}}
                    </p>
                    {{#if bio}}
                        <p class="author-bio">{{bio}}</p>
                    {{else}}
                        <p class="author-bio">Read <a href="{{url}}">more posts</a> by this author.</p>
                    {{/if}}
                </section>
            {{/author}}
        </footer>

    </article>

    {{#has tag="Code,code"}}
        <script type="text/javascript" src="{{asset "js/prism.min.js"}}"></script>
    {{/has}}

{{/post}}